<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/submitName" method="POST">
      <h1>Hello, please input your name :D</h1>
      <label for="fName">Name:</label>
      <input type="text" name="fName" placeholder="Enter Ngalan Boi" />
      <br />
      <label for="lName">Surname:</label>
      <input type="text" name="lName" placeholder="Butang Apilyiedo" />
      <br />
      <br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
