<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
  </head>
  <body style="background-color: #232323">
    <h1 id="heading" style="text-align: center; text-transform: uppercase">
      Hey! It's <%= weekDayEnd %>! <%= buhatonon %>
    </h1>
  </body>

  <!-- <script>
    const heading = document.getElementById("heading");

    const currentDate = new Date(2024, 1, 12);
    const day = currentDate.getDay();

    if (day == 0 || day == 6) {
      heading.textContent = `Hey! It's the weekend, it's time to have fun :D`;
    } else {
      heading.textContent = "Hey! It's a weekday, it's time to work hard!";
    }

    console.log(currentDate);
    console.log(day);
  </script> -->
</html>
