<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Name Length</title>
  </head>
  <body>
    <h1>What's up <%= fName %> <%= lName %>!</h1>

    <h2>The length of your full name is <%= nameLength %></h2>
  </body>
</html>
